/* Boxshadows */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix {
  clear: both; }

a {
  text-decoration: none;
  color: black; }

/* Buttons */
/* Flat */
/* Material */
/* Animation */
h1 {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  color: #fafafa;
  text-transform: uppercase; }

h2 {
  font-family: "Dosis", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color: #fafafa;
  text-transform: uppercase;
  margin: 0;
  padding: 0; }

h3 {
  font-family: "Dosis", sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em; }

h4 {
  font-family: "Dosis", sans-serif; }

p {
  font-family: "Dosis", sans-serif; }

section {
  margin-top: 2em; }

.wrapper {
  width: 95%;
  margin: auto;
  max-width: 1200px; }

body {
  overflow-x: hidden; }

a {
  font-family: "Dosis", sans-serif; }

.center {
  text-align: center; }

.line {
  width: 160px;
  height: 4px;
  background: #ebb96f;
  margin: 1em auto 1em auto; }

/* Flat */
.button-flat1, .button-flat2, .button-flat3, .button-flat4, .button-flat5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Dosis", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-flat1 {
  border: 1px solid; }

.button-flat2 {
  background-color: #ebb96f; }

.button-flat4 {
  background-color: #bada55; }

.button-flat5 {
  background-color: #d25112; }

/* Material */
.button-material1, .button-material2, .button-material3, .button-material4, .button-material5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Dosis", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-material1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ebb96f; }
  .button-material1:active {
    box-shadow: none; }

.button-material2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ebb96f; }
  .button-material2:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button-material3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ebb96f; }
  .button-material3:hover {
    background-color: #ebb96f;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.button-material4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ebb96f; }
  .button-material4:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.button-material5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #ebb96f; }
  .button-material5:hover {
    background-color: #ebb96f;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

/* Animation */
.button-animation1, .button-animation2, .button-animation3, .button-animation4, .button-animation5 {
  width: 150px;
  height: 50px;
  line-height: 50px;
  font-family: "Dosis", sans-serif;
  text-align: center;
  cursor: pointer; }

.button-animation1 {
  border: 1px solid; }
  .button-animation1:hover {
    background-color: #ebb96f;
    transition: all ease 0.2s; }

.button-animation2 {
  background-color: #ebb96f; }

.button-animation4 {
  background-color: #bada55; }

.button-animation5 {
  background-color: #d25112; }

/* Ripple */
.button-ripple {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0); }
  .button-ripple:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #000 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s; }
  .button-ripple:active::after {
    transform: scale(0, 0);
    opacity: 0.2;
    transition: 0s; }

.topbar {
  width: 100%;
  background: white; }

.logo {
  padding-top: 10px;
  padding-left: 5%;
  border-bottom: 1px solid lightgrey;
  text-align: center; }
  .logo img {
    height: 50px; }

nav {
  width: 100%;
  height: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 10000; }
  nav ul {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    line-height: 40px; }
    nav ul a {
      text-transform: uppercase; }

nav.fixed {
  position: fixed;
  background: #fafafa;
  top: 0; }

header {
  width: 100%;
  height: 400px;
  background: url(../bilder/bg1_big.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  header h2 {
    padding-top: 3em; }

.button-ripple {
  background: #ebb96f;
  width: 120px;
  height: 36px;
  margin: auto;
  text-align: center;
  line-height: 36px;
  cursor: pointer;
  margin-top: 3em; }

.one_content article {
  padding-bottom: 10px; }
  .one_content article p {
    width: 50%;
    float: left;
    padding-right: 1.2em; }
    .one_content article p:last-child {
      padding: 0; }

.swiper-container {
  width: 320px;
  height: 400px;
  margin-top: 50px; }

.container {
  width: 320px;
  height: 400px;
  position: relative;
  perspective: 800px;
  border-radius: 4px; }

.card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 6px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  background: #fafafa; }
  .card div {
    position: absolute;
    backface-visibility: hidden; }
  .card .card_front_picture {
    position: absolute;
    top: 10px;
    left: 10px; }
  .card .card_back {
    transform: rotateY(180deg); }
  .card.flipped {
    transform: rotateY(180deg); }

.card_btn {
  width: 140px;
  height: 40px;
  background: lightgreen;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 80%;
  border-radius: 6px;
  text-align: center;
  line-height: 40px;
  position: absolute; }

.card_front_picture.one {
  width: 300px;
  height: 200px;
  background: url("https://unsplash.it/300/200"); }

/*# sourceMappingURL=style.css.map */
